<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="themes/default/styles.css">
  <title>{% if site.title %}{{ site.title }}{% else %}{{ site.app.name }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <!-- Favicon -->
  {% if site.app.favicon %}
  <link rel="shortcut icon" href="{{ site.app.favicon }}">
  {% endif %}
  <link rel="apple-touch-icon-precomposed" href="apple-icon-precomposed.png">

  {% if site.enable.smart_app_banner %}
  <!-- Smart App Banner -->
  <meta name="apple-itunes-app" content="app-id={{ site.app.ios_id }}">
  {% endif %}

  <!-- Social media management -->
  {% include socialcard.html %}
  
</head>